# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/

# Tournament data
data/*

# Virtual environment
pball-tourney/Scripts/activate
pball-tourney/Scripts/activate.bat
pball-tourney/Scripts/Activate.ps1
pball-tourney/Scripts/deactivate.bat
pball-tourney/Scripts/pip.exe
pball-tourney/Scripts/pip3.10.exe
pball-tourney/Scripts/pip3.exe
pball-tourney/Scripts/py.test.exe
pball-tourney/Scripts/pygmentize.exe
pball-tourney/Scripts/pytest.exe
pball-tourney/Scripts/python.exe
pball-tourney/Scripts/pythonw.exe
pball-tourney/pyvenv.cfg
